**/.ipynb_checkpoints

# Models
**/models/**

# Data
**/data/**

# Logs
*.log
**/lightning_logs/**

# AzureML notebooks
*.amlignore
*.amltmp
*.amltemp
**/.ipynb_aml_checkpoints/
**/pocs/**/runs

# Config
**/config.txt